.content {
  background: green;
  height: 100vh;
}

.title-stat-grid {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 0.2em 0 0.2em 1em;
}

.title-stat-grid > div {
  padding: 0.2em 1em 0 0;
}

.one {
  background: cadetblue;
  height: 100%;
}

.two {
  background: lightslategrey;
  height: 100%;
}

.three {
  background: whitesmoke;
  height: 100%;
}
