main {
    margin-top: 3em;
}

nav {
    background-color: black;
    height: 3em;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-active {
    background: lightslategrey;
}

.nav-item {
    color: white;
    display: inline-block;
    min-width: fit-content;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 5vw;
}

.nav-item:hover {
    background-color: cadetblue;
}
