{
    box-sizing: border-box;
}

h1 {
    min-width: 5vw;
    padding: 0 0.5em;
    text-align: center;
}

.title-area {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

[class*='title-half-'] {
    align-items: center;
    display: grid;
    grid-template-columns: max-content max-content;
}

.title-half-right {
    justify-content: end;
}

form {
    width: 50vw;
    margin: 0.5em auto 2em;
}

form input {
    width: 100%;
}

input[type=text] {
    display: inline-block;
    padding: 0.5em;
    margin: 0.2em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 16px;
}

.tall {
    height: 8em;
}

.row {
    width: 100%;
    display: table;
    padding: 0.5em 0 0.5em;
}

.labels {
    background: darkslategrey;
    color: white;
    font-weight: bold;
}

.entry {
    display: flex;
    background: white;
}

.entry:nth-child(even) {
    background-color: whitesmoke;
}

[class*='col-'] {
    float: left;
    text-align: center;
}

.col-1 {width: 8.33%; }
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.entry textarea {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 16px;
    resize: none;
    width: 90%;
    height: 2em;
    text-align: center;
}

textarea.effect {
    text-align: left;
}

.effect{
    text-align: left;
}
