button {
    border-radius: 0.5em;
    border: none;
    background: lightslategrey;
    color: white;
    padding: 0.7em 1em 0.6em;
    margin: 0 0.5em 0;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0.2em 0 darkslategrey;
    user-select: none;
}

button:hover {
    background: cadetblue;
}

button:active {
    transform: translate(0, 0.1em);
    background: cadetblue;
    box-shadow: 0 0.1em 0 darkslategrey;
}

button:disabled {
    background: lightgrey;
    color: darkgrey;
    box-shadow: 0 0.2em 0 lightslategrey;
}

button:disabled:active {
    transform: none
}

.button-group {
    display: flex;
    margin: auto;
    justify-content: center;
}

.button-group > * {
    display: inline-block;
}

.cancel {
    background: indianred;
    box-shadow: 0 0.2em 0 maroon;
}

.cancel:hover {
    background: crimson;
}

.cancel:active {
    background: crimson;
    box-shadow: 0 0.1em 0 maroon;
}

.confirm {
    background: darkseagreen;
    box-shadow: 0 0.2em 0 darkgreen;
}

.confirm:hover {
    background: seagreen;
}

.confirm:active {
    background: seagreen;
    box-shadow: 0 0.1em 0 darkgreen;
}

.clear {
    font-size: 18px;
    color: lightslategrey;
    padding: 0.4em;
    background: none;
    box-shadow: none;
}

.clear:hover {
    color: cadetblue;
    background: none;
    box-shadow: none;
}

.clear.delete:hover {
    color: indianred;
}

.clear:active {
    color: darkslategrey;
    transform: none;
    background: none;
    box-shadow: none;
}

.clear.delete:active {
    color: crimson;
}

.flat {
    box-shadow: none;
}
